#btnRegla{
   
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid;
   
    transition: all 1s ease;
    position: relative;
}
.mainbody{
  position: absolute;
  top: 0px; 
  bottom: 0px;   
  height: 100%;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
#btnRegla:hover {
    background: #318aac;
    color: #fff !important;
  }
#btnJugar{
    margin: -20px -40px; 
    position:relative;
    top:50%; 
    left:50%;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid;
   
    transition: all 1s ease;
    position: relative;
}
#btnJugar:hover {
    background: #318aac;
    color: #fff !important;
  }
h1{
    position: relative;
    text-align: center;
    top: 30%;
}


/* .boton3 {
    color: #318aac !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #318aac;
    transition: all 1s ease;
    position: relative;
  }
  .boton3:hover {
    background: #318aac;
    color: #fff !important;
  }

  url('https://fondosmil.com/fondo/27741.jpg');
   */