
<div class="container-fluid h-100 mainbody" style="background-image: url(https://raw.githubusercontent.com/GRetamal26/tpBlackJack2w1/main/proyectoBlackJack/src/assets/8.jpg)" id="con">
    <nav class="navbar navbar-expand bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <img src="https://raw.githubusercontent.com/GRetamal26/tpBlackJack2w1/main/proyectoBlackJack/src/assets/cartaa.png" alt="" width="35px" height="40px">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav container-fluid justify-content-start ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><span
                                style="color: white; font-size: 30px;"> <b>B L A C K J A C K</b></span></a>
                    </li>
                    <li class="nav-item">
                        
                    </li>
                </ul>
                <div class="nav-item d-grid gap-2 d-md-flex  justify-content-md-end">
                    <button class="btn btn-warning " 
                        routerLink="/login"><b>INICIAR SESION</b></button>                
                    <button class="btn btn-warning  "  
                        routerLink="/registro"><b>REGISTRARSE</b></button>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="con-resto" style="color: white;">
        <h2  class=" text-center titulo"><b>¿Como jugar BlackJack?</b></h2>
        <h3  class=" text-center titulo"><b>Objetivo Principal</b></h3>
        <p class="container-fluid col-8 bg-dark text-wrap" style="--bs-bg-opacity: .8;">
            El objetivo principal es vencer al crupier, representante de la casa. <br>

            Cada jugador recibirá inicialmente dos cartas; el ganador será quien alcance los 21 puntos, sin que se
            supere este valor.
        </p>
        <br>
        <h3 class="text-center titulo"><b>Acciones con las cartas</b></h3>
        <p class="container-fluid col-8 bg-dark text-wrap" style="--bs-bg-opacity: .8;"><b>Parar</b>
            Si estás satisfecho con tus cartas, elije esta opción. Esta acción te obliga a plantarte y no poder tomar
            más cartas
            <br>
            <b>Pedir carta</b>
            Cuando no estás conforme con tu mano puedes indicar que deseas más cartas, con esta opción. Los jugadores
            pueden pedir tantas cartas como quieran, siempre que no exceda el valor total de la suma 21.
        </p>
        <br>
        <h3 class="text-center titulo"><b>Valor de las cartas</b></h3>
        <p class="container-fluid col-8 bg-dark text-wrap" style="--bs-bg-opacity: .8;">
            Las cartas <b>10, jota (J), reina (Q) y rey (K)</b>, de cualquier palo, tienen un valor equivalente a 10.

            El <b>as (A)</b> puede valer 1 u 11 dependiendo de la necesidad del jugador.

            En el <b>resto de cartas </b>el valor es igual al que se muestra en la misma sin diferenciar entre los
            diversos palos.
        </p>

    </div>



</div>