<div class="container-fluid mainbody" id="con" style=" background-image: url('https://fondosmil.com/fondo/27741.jpg');">
<div class="container-fluid" id="con-resto" style="color: white;">
    <h2 style="color: black;"><b>¿Como jugar BlackJack?</b></h2>
    <h3 style="color: black;"><b>Objetivo Principal</b></h3>
    <p>
        El objetivo principal es vencer al crupier, representante de la casa. <br>

Cada jugador recibirá inicialmente dos cartas; el ganador será quien alcance los 21 puntos, sin que se supere este valor.
    </p>
    <br>
    <h3 style="color: black;"><b>Acciones con las cartas</b></h3>
    <p><b>Parar</b>
        Si estás satisfecho con tus cartas, elije esta opción. Esta acción te obliga a plantarte y no poder tomar más cartas
        <br>
        <b>Pedir carta</b>
        Cuando no estás conforme con tu mano puedes indicar que deseas más cartas, con esta opción. Los jugadores pueden pedir tantas cartas como quieran, siempre que no exceda el valor total de la suma 21.</p>
        <br>
        <h3 style="color: black;"><b>Valor de las cartas</b></h3>
        <p>
            Las cartas <b>10, jota (J), reina (Q) y rey (K)</b>, de cualquier palo, tienen un valor equivalente a 10.

El <b>as (A)</b> puede valer 1 u 11 dependiendo de la necesidad del jugador.

En el <b>resto de cartas </b>el valor es igual al que se muestra en la misma sin diferenciar entre los diversos palos. 
        </p>

<button class="btn btn-warning btn-lg" id="btnVolver" type="button" routerLink="/menu" >volver</button>
</div>
</div>
