<div class="container-fluid h-100 mainbody" id="con" style="background-image: url(https://raw.githubusercontent.com/GRetamal26/tpBlackJack2w1/main/proyectoBlackJack/src/assets/MESA-FINALMADERA.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
  
  <ul class="nav nav-pills  bg-light justify-content-center">
    <div class="justify-content-start">
      <button class="btn btn-outline-primary me-5" id="btnVolver" type="button" (click)="volverAlMenu()">Volver</button>
    </div>
    <div class="btn-group " role="group" aria-label="Basic radio toggle button group">
      <li class="nav-item me-5">
        <input type="radio" class="btn-check " name="btnradio" id="btnradio1" autocomplete="off" checked
          (click)="cambioReporte(1)">
        <label class="btn btn-outline-primary" for="btnradio1">Estadísticas globales</label>
      </li>
      <li class="nav-item">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
          (click)="cambioReporte(2)">
        <label class="btn btn-outline-primary" for="btnradio2">Estadísticas personales</label>
      </li>
    </div>
  </ul>

  <div class="row justify-content-center" [ngSwitch]="reporte" >

    <div class="col-12" *ngSwitchCase="1">
      <div class="row mb-4 mt-2">
        <div class="container  col-auto text-center" style="background-color: whitesmoke;">
          <div style="width: 20vw; ">
            <label>Partidas totales: {{this.partidas}}</label>
            <canvas class="mb-3" baseChart type="pie" [data]="datosGlob1">

            </canvas>
          </div>

        </div>
        <div class="container col-auto text-center" style="background-color: whitesmoke;">
          <div style="width: 20vw; ">
            <label>Blackjacks</label>
            <canvas baseChart type="pie" [data]="datosGlob2">

            </canvas>
          </div>
        </div>
      </div>

      <div class="container col-8 text-center justify-content-center" style="background-color: whitesmoke;">        
        <div>
          <div>
            <div style="display: block">
              <canvas baseChart [data]="datosGlob3" [options]="barChartOptions" [plugins]="barChartPlugins"
                [type]="barChartType" (chartClick)="chartClicked($event)">
              </canvas>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-6" *ngSwitchCase="2">
      <table class="table table-primary table-sm table-responsive table-hover table-striped mb-5 mt-5">
        <tbody>
        <tr>
          <th>Victorias</th>
          <td>{{this.jugador.victorias}}</td>
        </tr>
        <tr>
          <th>Partidas totales</th>
          <td>{{this.jugador.partidas}}</td>
        </tr>
        <tr>
          <th>Blackjacks del jugador</th>
          <td>{{this.jugador.bjugador}}</td>
        </tr>
        <tr>
          <th>Blackjacks del crupier</th>
          <td>{{this.jugador.bcrupier}}</td>
        </tr>
        <tr>
          <th>Veces que se paso de 21</th>
          <td>{{this.jugador.masDe21}}</td>
        </tr> 
      </tbody>       
      </table>
      <div class="row mb-4 mt-2 mb-5">
        <div class="container  col-auto text-center" style="background-color: whitesmoke;">
          <div style="width: 20vw; ">
            <label>Partidas totales: {{this.jugador.partidas}}</label>
            <canvas class="mb-3" baseChart type="pie" [data]="datosUser1">

            </canvas>
          </div>

        </div>
        <div class="container col-auto text-center" style="background-color: whitesmoke;">
          <div style="width: 20vw; ">
            <label>Blackjacks</label>
            <canvas baseChart type="pie" [data]="datosUser2">

            </canvas>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>